{% extends 'front/layout.html.twig' %}

{% block title %}Administration des articles{{ parent() }}{% endblock %}

{% block main %}
    <main class="container-grass">
        <h1>Tous les articles</h1>
            
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Date de publication</th>
                        <th>Niveau</th>
                        <th>Description</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title|e }}</td>
                            <td>{{ article.content|e }}</td>
                            <td>{{ article.publish_date|e }}</td>
                            <td>{{ article.level|e }}</td>
                            <td>{{ article.description|e }}</td>
                            <td><a href="?route=modifyArticle&id={{ article.id|e }}">Modifier</a></td>
                            <td><a href="?route=deleteArticle&id={{ article.id|e }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}