{% extends 'front/layout.html.twig' %}

{% block title %}Administration des articles{{ parent() }}{% endblock %}

{% block main %}
    <main class="container-grass">
        <h1>Tous les articles</h1>
        
        {% if session.error_message %}
            <div class="error alert" role="alert">
                <ul>
                    {% for error in session.error_message %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if session.success_message %}
            <div class="success alert" role="alert">
                <ul>
                    {% for success in session.success_message %}
                        <li>{{ success }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <a href="?route=newArticle" class="bouton-create">
          Créer un article
        </a>
                    
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Date de publication</th>
                        <th>Niveau</th>
                        <th>Description</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title|striptags }}</td>
                            <td>{{ article.content|striptags }}</td>
                            <td>{{ article.publish_date|striptags }}</td>
                            <td>{{ article.level|striptags }}</td>
                            <td>{{ article.description|striptags }}</td>
                            <td><a href="?route=modifyArticle&id={{ article.id|striptags }}">Modifier</a></td>
                            <td><a href="?route=deleteArticle&id={{ article.id|striptags }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}