{% extends 'front/layout.html.twig' %}

{% block title %}Articles{{ parent() }}{% endblock %}

{% block main %}
    <main class="section-articles">
        <section class="container-filters">
            <h2>Voir les articles :</h2>
            <div class="filter-buttons">
                <div class="filter-btn beginner">
                    <img src="./assets/img/bookmark-vert.webp">
                    <a href="?route=articles&level=1">{{ 'débutant'|upper }}</a>
                </div>
                <div class="filter-btn beginner">
                    <img src="./assets/img/bookmark-orange.webp">
                    <a href="?route=articles&level=2">{{ 'intermédiaire'|upper }}</a>
                </div>
                <div class="filter-btn beginner">
                    <img src="./assets/img/bookmark-rouge.webp">
                    <a href="?route=articles&level=3">{{ 'avancé'|upper }}</a>
                </div>
            </div>
        </section>
        
        <section class="container-gris">
            <div class="container-articles">
                {% if not level is defined %}
                                    <h2>Nos derniers articles</h2>
                                {% else %}
                                    <h2>Nos derniers articles - niveau {{ level_name|upper }}</h2>
                                {% endif %}
                <div class="container-article-cards">
                    
                {% for article in articles %}
                    
                    <div class="article-card">
                        <img src="./assets/img/half-flip.webp" alt="Article sur {{ article.title }}">
                        <div class="container-description">
                            <a href="?route=article&id={{ article.id }}">
                                <h3>{{ article.title }}</h3>
                            </a>
                            <p>{{ article.description }}</p>
                        </div>
                    </div>
                    
                {% endfor %}
                    
                </div>
                <nav aria-label="Pagination">
                    <ul class="pagination" id="pagination">
                        {% for i in 1..total_pages %}
                            <li class="page-item {{ i == page_actuelle ? 'active' : '' }}">
                                {% if not level is defined %}
                                    <a class="page-link" href="?route=articles&page={{ i }}" data-page="{{ i }}">{{ i }}</a>
                                {% else %}
                                    <a class="page-link" href="?route=articles&page={{ i }}&level={{ level }}" data-page="{{ i }}">{{ i }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </section>
    </main>
{% endblock %}