{% extends 'front/layout.html.twig' %}

{% block title %}{{ article.title|nl2br }}{{ parent() }}{% endblock %}

{% block main %}
<main class="container-grass">
    {% if session.error_message %}
        <div class="error alert" role="alert">
            <ul>
                {% for error in session.error_message %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if session.success_message %}
        <div class="success alert" role="alert">
            <ul>
                {% for success in session.success_message %}
                    <li>{{ success }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <article class="container-article">
        <header class="header-article">
            <h1 class="level-{{ article.level }}">{{ article.title|striptags }}</h1>
            <img src="{{ article.image_url }}" alt="{{ article.image_alt|striptags }}">
        </header>
    
        <section class="article-content">
            <p>{{ article.content|nl2br }}</p>
        </section>
    </article>
    
    <section class="comments-add">
        <h2>Laisser un commentaire</h2>
        {% if session.user.name is defined %}
            <form action="index.php?route=article&id={{ article.id }}" method="POST">
                <textarea name="comment_content" placeholder="Écrivez votre commentaire" required></textarea>
                <button type="submit">Envoyer</button>
            </form>
        {% else %}
            <p>Vous devez être connecté pour ajouter un commentaire.</p>
        {% endif %}
    {#</section>#}
        
    {#<section class="user-comments-section">#}
        <div class="comments-div">
            {% if comments is not empty %}
                <h3>Commentaires :</h3>
                <ul>
                    {% for comment in comments %}
                        <li>
                            <p>Le <em>{{ comment.created_at }}</em> par <strong>{{ comment.name|e }} :</strong> </p>
                            <p>{{ comment.content|e }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Pas encore de commentaire pour cet article.</p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}