{% extends 'front/layout.html.twig' %}

{% block title %}Administration des utilisateurs{{ parent() }}{% endblock %}

{% block main %}
    <main class="container-grass">
        <h1>Administration des utilisateurs</h1>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Rôle</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id|striptags }}</td>
                                <td>{{ user.email|striptags }}</td>
                                <td>{{ user.name|striptags }}</td>
                                <td>{{ user.role|striptags }}</td>
                                <td><a href="?route=showUser&id={{ user.id|striptags }}">Modifier</a></td>
                                <td><a href="?route=deleteUser&id={{ user.id|striptags }}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </main>
{% endblock %}